

<form (submit)="addUser(newUser)">

<input type="text" #newUser>
<button>Enviar usuario</button>
</form>



<div>
<form (submit)="addUser(newUser)">

  <input type="text" name="nombre" [(ngModel)] = "nombre">
  <button>Enviar usuario</button>
  </form>
  
   nombre: {{ nombre }}
</div>


----------------------------------------------------------------
  {{ title }}
  ----------------------------------------------------------------
  <hello-world></hello-world>
  ----------------------------------------------------------------
  {{ users }}
  ----------------------------------------------------------------
  <ul>
    <li>{{ users[0] }}</li>
    <li>{{ users[1] }}</li>
    <li>{{ users[2] }}</li>
  </ul>
  ----------------------------------------------------------------
  <!-- Como recorrer el arreglo -->
   <!-- Let sirve para declarar variable en JS -->
  <ul>
    <li *ngFor="let user of users">
      {{ user }} - <button (click)="deleteUser(user)">Eliminar</button>
    </li>
  </ul>

<!-- Evento click que ejecuta el método alert-->
<button (click)="sayHello()">Click me!</button>

  ----------------------------------------------------------------
 <!-- Uso del condicional con la variable activated -->
  <ul>
    <li *ngIf="activated">
      Activado
    </li>
  </ul>
----------------------------------------------------------------
 <!-- Pasar datos del componente app al component user por medio del componente INPUT -->
  <ul>
      <!--Le pasamos al input nameUser del componente user la variable user. Las [] indican que va a recibir una variable como entrada -->
      <app-user *ngFor="let user of users" [nameUser]="user"></app-user>
  </ul>
  ----------------------------------------------------------------
  <div>
      
    <p>Nombre: {{ nombre }}</p>
    <p>Dirección: {{ adress.street }}</p>
    <p>Ciudad: {{ adress.city}}</p>

    <ul>
      <li *ngFor="let hobby of hobbies">
        {{hobby}}
      </li>
    </ul>

  </div>